.navbar {
  background-color: #000;   /* black */
  color: #fff;              /* white text */
  padding: 20px;
  text-align: left;
}

.navbar h1 {
  color: red;               /* red text */
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.card-img-top {
  height: 200px;        /* fixed height */
  object-fit: cover;    /* crops neatly */
}